<html>
<head>
  <title>Библиотека</title>
</head>
<body>
  <h1>Библиотека</h1>
  <table>
    <thead><tr><th>Название книги</th><th>Автор(ы)</th><tr></thead>
    <tbody>{% for book in books %}
      <tr>
        <td><a href="book/{{ book._id }}">{{ book.title }}</a></td>
        <td>{% for author in book.authors %}
          <a href="author/{{ author._id }}">{{ author.name }}</a>
        {% endfor %}</td>
      </tr>
    {% endfor %}
      <tr>
        <td><hr><a href="add_book">Добавить книгу</a></td>
        <td><hr><a href="add_author">Добавить автора</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
